@media screen and (max-width: 1700px)
  .team-customers-sections
    background: url('../img/bg-light-city-lines.svg') no-repeat center -180px / cover !important
  .types
    &__proposal
      &__item1
        background: url(../img/types/proposal/bg.png) no-repeat 100px -50px/680px
        #step1
          left: 41%
        #step2
          left: 48%
        #step3
          left: 50%
        #step4
          left: 44%
        &__image
          margin-left: 10%

  
  
  
@media screen and (max-width: 1600px)
  #button-up
    display: none !important
  .projects
    background: url(../img/bg-dark-city-lines.svg) no-repeat 0 72%  / cover 
    background-color: $dark
  .team-customers-sections
    background: url('../img/bg-light-city-lines.svg') no-repeat center 0px / cover !important
  .types
    &__proposal
      &__item2
        &__modal
          margin-left: 100px
      &__item1
        &__image
          margin-left: 8%
  
  
@media screen and (max-width: 1500px)
  .types
    &__proposal
      &__item1
        &__image
          margin-left: 6%



@media screen and (max-width: 1349px) 
  html 
    font-size: 12px !important
  .nav 
    &__item
     margin-right: 1rem !important
  .menu
    &__logo
      margin-left: -1rem
  .contacts
    margin-right: 0
  .types
    &__proposal
      &__item1
        background: url(../img/types/proposal/bg.png) no-repeat 0px -50px/680px
        &__image
          margin-left: 2%
      &__item2
        &__button
          margin-left: 140px
        &__policy
          margin-left: 0



@media screen and (max-width: 1250px)
  .projects
    background: url('../img/bg-dark-city-lines.svg') no-repeat 0 62% / cover 
    background-color: $dark
  .steps
    &__swiper-menu
      &__item
        margin-right: 100px      
  .types
    &__proposal
      &__item2
        &__modal
          margin-left: 0
      &__step
        margin-left: 150px
        margin-top: 50px
        left: 0 !important
        position: relative
      &__item1
        background: none
        display: flex
        flex-direction: column
        &__image
          display: none



  
@media screen and (max-width: 1000px) 
  .types
    &__proposal
      &__step
        margin-left: 50px
  .realisation
    &__images
      &__box-first
        top: -50px
      &__box-second
        top: 0
  .projects
      background: url('../img/bg-dark-city-lines.svg') no-repeat 0 50% / cover 
      background-color: $dark
  .steps
    &__swiper
      &-images
        width: 70%
    &__swiper-menu
      &__item
        margin-right: 50px
  .nav 
    display: none 
  .hero
    .instagram
      display: none 
    &__content
       margin-left: 0 
  .contacts
    margin-right: 0


@media screen and ( max-width:  860px )   
  .projects, .project, .footer, .footer__wrap, .control, .header, .team
    background: $dark
  .control-types-sections
    background: $light
  .steps, .customers, .footer__menu, .types__proposal
    display: none
  .realisation
    padding: 0
    background-image: none
    background-color: $light
    &__images, &__fantasy-list
      display: none
    &__title
      margin: 0 auto
      text-align: center
      max-width: 300px 
      font-size: 1.571rem
      line-height: 2.142rem

  #slider-third
    margin-top: 2rem
    display: block

  .footer
    &__wrap
      margin-top: -20rem
    &__map
      margin-bottom: 0
  .section
   &-title
    &__text
      max-width: inherit
    &__word
      display: block
      &::after
        display: none
  .row
    flex-direction: column
    align-items: center
    .col-100
      width: 100%
      align-items: center
      &:last-of-type
        position: relative
        margin-top: 40px
      &:first-of-type
  .types
    padding-bottom: 20px 
    &__card
      margin: 5rem auto
    .row
      .col-100
        margin-top: -4rem
  .types, .project, .team 
    .col-100
      display: flex
      flex-direction: column
      justify-content: center
  .team
    margin-top: 0
    &__card
      margin-bottom: 8rem
    .col-100
      &:last-of-type
        margin-top: 0
    &__description
      display: none
  .control
    margin-top: 0px
    color: $light
    &__input-group
      min-height: 47px
    &__video
      min-height: 300px
    .input
      color: $light
  .card
    &__text
      margin-left: 0
  .steps
    padding: 0
    margin: 0
  .project
    margin-top: -121px
    padding-top: 150px
    &-title
      color: $light
      &__description
        color: $light
  .projects
    padding-top: 0
    padding-bottom: 30rem
    &__swiper-slide
      &__image
        margin: 0 auto
  .phone
    color: $light
    text-decoration: none
    font-weight: 500

@media screen and ( max-width:  666px )
  .projects
    padding-bottom: 20rem
  .control
    &__video
      max-height: 300px
      margin-bottom: 6rem

@media screen and ( max-width:  576px )
  .project
    padding-bottom: 250px
    &-title
      &__description
        margin-top: 3px
        margin-bottom: -55px
        font-size: 15px
        line-height: 20px
        max-width: 306px !important
    &__card
      margin-bottom: 55px !important
  .realisation
    margin-bottom: 22px
    &__title
      margin-bottom: 4px
      font-size: 22px
      line-height: 30px
      max-width: 340px
  .types
    padding-top: 20px
    &__card
      margin-bottom: 13.5rem
      max-width: 340px 
      max-height: 365px 
      &:nth-child(1+n)
        // margin-top: 0
      img
  .card
    &__text
      max-width: 270px 
      margin-top: -12rem
  .input
    border-bottom: 1px solid rgba($light, 0.8);
    &::placeholder
      color: $light
      font-size: 18px
  .label
    font-size: 15px !important
    line-height: 20px !important
    color: rgba($light, .5)
  .section-title
    &__heading
      font-size: 22px !important
  .menu
    &__logo
      margin-left: 2px
  .container
    width: 95%
  .projects
    padding-top: 4.1rem
    .section-title
      &__heading
        margin-top: -5px
        margin-bottom: 20px
      &__text
        font-size: 14px
        max-width: 305px
        margin-bottom: 5px
    &__swiper-slide
      &__image
        max-width: 340px !important
        max-height: 202px !important
    .swiper
      &-slide
        &__text
          &:nth-child(2n)
            margin-left: -15px
          &:nth-child(n+3)
            margin-top: 5px
        &__heading
          font-size: 14px
        &__value
          font-size: 14px
      &__buttons
        margin-top: -50px
      &-pagination-bullet
        width: 9.57px
        height: 9.57px
  .footer
    padding-top: 0
    padding-bottom: 20px
    &__title
      order: 999
      margin-top: 0
      font-size: 20px
      margin-bottom: 32px !important
      &__header
        margin-top: -100px
        max-width: 330px
        font-size: 18px
        line-height: 25px
      &__images
        &__image
          width: 39px
          height: 39px
          img
            width: 17px
            height: 17px
    &__map
      order: -1
      overflow: hidden
      width: 100%
      ymaps
        max-height: 255px !important
      
    &__wrap
      padding: 0 8px
      margin-top: -8rem
    &__input-group
      margin-bottom: 35px
    &__policy
      label 
        margin-right: auto
        margin-top: -20px
        margin-left: -16px
        font-size: 16px 
        #policyCheckbox-error
          margin-top: 5px !important
          margin-left: 20px !important
    &__button
      margin-top: 20px
      padding: 19px 120px
      font-size: 15px
      width: 100%
  .control
    &__text
      margin-top: -28px
      font-size: 14px
      line-height: 24px
      max-width: 340px
      margin-bottom: 27px
      &::before
        margin-bottom: 1rem
    &__video
      max-width: 340px
      max-height: 207px !important
      min-height: 200px
    .video__play 
      max-width: 60px !important
    &__section-title
      margin-top: -28rem
    &__input-group
      flex-basis: 100%
      margin-bottom: 4.5rem
    &__button
      margin-top: 5rem
      margin-bottom: -7rem
      width: 98%
      order: 5
      font-size: 15px
    &__policy
      margin-top: -30px
      &-label
        font-size: 16px
        margin-left: -12px
        margin-right: auto
        
  .team
    margin-top: -20px
    padding: 0
    &__section-title
      color: $light
      &__heading
        margin-bottom: 10px
      &__description
        margin-top: 15px
        margin-bottom: 83px
        color: $light
        max-width: 340px
        font-size: 15px 
        line-height: 20px
    &__card 
      max-width: 303px
      max-height: 405px
  

  .contacts
    &__phone
      margin-right: 0 !important
    &__button
      display: none
  .title
    font-size: 23px !important
  .hero 
    position: relative
    padding-top: 12.5rem
    padding-bottom: 0
    height: 100%
    &::after
      display: none
    &__scroll-down
      display: none !important
    &__content
      margin-top: -5px
      margin-right: auto
      margin-left: auto
      max-width: 338px !important
      margin-bottom: 4.357rem
    &__text
      max-width: 320px
      font-size: 18px !important
      margin-top: -5px
      margin-bottom: 2.5rem
    &__button
      font-size: 13px
      display: block
      width: 102%
    .button--ouline
      margin-bottom: 4.357rem
    .button--primary
      margin-bottom: 2.4rem
  .swiper
    &-slide
      &__text
        margin-right: 50px
        &:nth-child(even)
          margin-right: 0



@media screen and ( max-width: 424px ) 
  .footer
    &__input-group
      flex-basis: 100%

@media screen and ( max-width: 350px )
  .hero
    &__text
      min-width: 1px
  .realisation__swiper-button-prev, .realisation__swiper-button-next
    top: 40% !important
  .realisation__swiper-button-prev
    left: 1%
  .realisation__swiper-button-next
    left: 86% !important

@media screen and ( max-width: 300px )
  .realisation__swiper-button-prev, .realisation__swiper-button-next
    top: 30% !important
  .hero
    &__button
      min-width: 1px 
  .footer
    &__policy
      margin-left: -20px
        







@media screen and ( max-height: 520px )
  .hero
    &__scroll-down
      display: none !important




  


  
  