* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
}

body {
  background: #232323;
  color: #fff;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f7efef;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 5px;
}

.opaque {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: #d2d6f1;
}

.lt-ie9 .opaque {
  display: none;
}

.feature {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  padding-top: 50%;
  background: url("../img/background.jpg") center center no-repeat;
  background-size: 250%;
  -webkit-box-shadow: 0 -50px 20px -20px #232323 inset;
  box-shadow: 0 -50px 20px -20px #232323 inset;
}

.container {
  position: relative;
  min-width: 85%;
  margin: 0 auto;
}

.hero {
  padding-top: 800px;
  padding-bottom: 2000px;
}

.hero__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hero__title__heading a {
  color: #fff;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
}

.hero__title__subtitle {
  font-size: 20px;
  font-weight: 600;
}

.hero__title__subtitle .link {
  position: relative;
  text-decoration: none;
  color: red;
}

.hero__title__subtitle .link::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: red;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.hero__title__subtitle .link:hover::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.works {
  padding-bottom: 800px;
}

.works__cards {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works__cards-item {
  width: 33%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works__cards-item .face1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 200px;
  background-color: #333;
  -webkit-box-shadow: 0px -13px 20px -4px rgba(0, 0, 0, 0.75);
          box-shadow: 0px -13px 20px -4px rgba(0, 0, 0, 0.75);
  border-radius: 10%;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
  z-index: 2;
  overflow: hidden;
}

.works__cards-item .face1__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  font-weight: bold;
  font-size: 20px;
  color: #007bff;
  margin-top: 5px;
  z-index: 3;
}

.works__cards-item .face1__image {
  position: absolute;
  max-width: 100px;
  bottom: 25px;
}

.works__cards-item .face2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 50px;
  background-color: gray;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  z-index: 1;
}

.works__cards-item .face2__link {
  margin-top: 12px;
  position: relative;
}

.works__cards-item .face2__link::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: red;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.works__cards-item .face2__link:hover::after {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.works__cards-item .face2__link a {
  text-decoration: none;
  color: red;
  font-weight: bold;
}

.works__cards-item:hover .face1 {
  border-radius: 1px;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  background-color: gray;
}

.works__cards-item:hover .face2 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 0 6px 17px 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0 6px 17px 0 rgba(0, 0, 0, 0.75);
}

.closed .face1 {
  background-color: red;
}

.closed .face1__header {
  color: #fff;
}

.closed .face1__image {
  margin-top: 50px;
}

.closed .face2__link::after {
  display: none;
}
/*# sourceMappingURL=main.css.map */