.projects
  &-title
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 2.785rem
    &__image
      margin-bottom: 1.2rem
    &__heading
      margin: 0
      margin-bottom: 0.928rem
  .description
    text-transform: none
    max-width: 53rem
    font-family: 'Futura Book'
    font-size: 1.428rem
    line-height: 1.93rem
    font-weight: normal
    color: #363636;