@font-face {
  font-family: 'Din Pro Light';
  src: 
    url('../fonts/DinPro/DINPro-Light.woff') format('woff'),
    url('../fonts/DinPro/DINPro-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Din Pro Regular';
  src: 
    url('../fonts/DinPro/DINPro-Regular.woff') format('woff'),
    url('../fonts/DinPro/DINPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Din Pro Medium';
  src: 
    url('../fonts/DinPro/DINPro-Medium.woff') format('woff'),
    url('../fonts/DinPro/DINPro-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Din Pro Bold';
  src: 
    url('../fonts/DinPro/DINPro-Bold.woff') format('woff'),
    url('../fonts/DinPro/DINPro-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Din Pro';
  src: 
    url('../fonts/DinPro/din_pro.woff') format('woff'),
    url('../fonts/DinPro/din_pro.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
// @font-face {
//   font-family: 'Font Awesome Brands Regular';
//   src: 
//     url('../fonts/FontAwesome/Font-Awesome-Brands-Regular.woff') format('woff'),
//     url('../fonts/FontAwesome/Font-Awesome-Brands-Regular.woff2') format('woff2');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Font Awesome Free Regular';
//   src: 
//     url('../fonts/FontAwesome/Font-Awesome-Free-Regular.woff') format('woff'),
//     url('../fonts/FontAwesome/Font-Awesome-Free-Regular.woff2') format('woff2');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Font Awesome Free Solid';
//   src: 
//     url('../fonts/FontAwesome/Font-Awesome-Free-Solid.woff') format('woff'),
//     url('../fonts/FontAwesome/Font-Awesome-Free-Solid.woff2') format('woff2');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }
@font-face {
  font-family: 'MyriadPro Regular';
  src:
    url('../fonts/MyriadPro/MyriadPro-Regular.woff') format('woff'),
    url('../fonts/MyriadPro/MyriadPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}