*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color: #ebf4f4;
}
.form{
  position: relative;
  margin: 200px auto;
  padding: 53px 28px;
  display: flex;
  flex-direction: column;
  border: 1px solid #cfdede;
  width: 320px;
  height: 370px;
  font-family: 'Arial';
  font-size: 12px;
  font-weight: bold;
  color: #333333;
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
}
.desc{
  position: absolute;
  top: -5px;
  left: 29px;
  width: 150px;
  height: 25px;
  background-color: #01b3b3;
  color: #fff;
  font-size: 12px;
  padding: 6.5px 9px;
}
label{
  margin-left: 1.5px;
}
input{
  border: 1px solid #cfdede;
  padding: 7px 12px;
  background-color: #ebf4f4;
}
input::placeholder {
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
}
.email__input{
  margin-top: 11px;
  margin-bottom: 16px;
}
.password__input__first{
  margin-top: 13px;
  margin-bottom: 18px;
}
.password__input__second {
  margin-top: 12px;
  margin-bottom: 34px;
}
.button{
 padding: 13px 60px;
 border: none;
 outline: none;
 border-radius: 4px;
 box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2),
 inset 0px 1px 2px 0px rgba(255, 255, 255, 0.004);
 background-color: #01c4c4;
 color: #fff;
 text-transform: uppercase;
 font-size: 16px;
 font-weight: bold;
}




